.btn {
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.7rem; 
  border-radius: 6px;
  border: none;
  font-weight: bold;
  transition: all 0.3s ease;
  color: white;
  text-align: center;
}

.btn:hover {
  transform: scale(1.05);
}

.add-prayer-button, .save-button {
  background-color: var(--main-blue);

}

.relationship-button {
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--main-purple);
}

.add-prayer-button:hover, .save-button:hover {
  background: var(--darker-blue);
}

.view-button {
  background: var(--main-purple);
  width: 50%;
}

.view-button:hover, 
.relationship-button:hover,
.relationship-button.is-selected {
  background: var(--darker-purple);
}

.close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  background: transparent;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  color: #555;
  transition: color 0.3s ease;
  cursor: pointer;
}

.close-button:hover {
  color:red;
}

.form-title {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  background: white;
  padding: 1rem;
  border-radius: 10px;
}


.form-data {
  display: flex;
  flex-direction: column;
}


label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

form input, textarea, select {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--light-gray);
  border-radius: 0.5rem;

}

textarea {
  overflow: auto;
  resize: none;
}

.modal:open {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  width: 20rem;
  overflow: hidden;
  padding: 50px;
  border: 1px solid rgb(128, 128, 128, 0.6);
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  gap: 2rem;
  padding: 0.5rem 1rem;
}

.nav-logo {
  display: flex;
  background-color: white;
  color: black;
  padding: 0 1rem;
  border-radius: 6px;
  gap: 0.5rem;
  align-items: center;
}

.nav-logo img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.relationship-buttons-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.person-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  width: 100%;
}

.person-card {
  display: flex;
  align-items: center;
  background-color: white;
  width: 80%;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.person-buttons {
  display:flex;
  flex-direction: column;
  gap: 0.5rem;
}


.person-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  flex: 0.25;
  gap: 0.5rem;
}

.prayer-cards-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  max-height: 220px;
}

.prayer-card {
  display: flex;
  align-items: center;
  border: 1px solid rgb(128, 128, 128, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 4px;
  border-radius: 8px;
  flex: 1;
  transition: all 0.3s ease-out;
}

.prayer-text {
  padding: 20px;
  flex: 1;
}

.update-prayer-buttons {
  display: flex;
  gap: 5px;
  padding: 5px;
}

.add-prayer-card {
  display: flex;
  justify-content: center;
}

.mark-prayed-button {
  background-color: var(--main-green);
}

.mark-prayed-button:hover  {
  background-color: var(--darker-green);
}

.edit-person-button,
.edit-prayer-button,
.deny-delete-button {
  background-color: var(--gray);
}

.edit-person-button:hover,
.edit-prayer-button:hover,
.deny-delete-button:hover {
  background-color: var(--darker-gray);
}

.delete-person-button, 
.delete-prayer-button,
.confirm-delete-button {
  background-color: var(--main-red);
}

.delete-person-button:hover, 
.delete-prayer-button:hover,
.confirm-delete-button:hover {
  background-color: var(--darker-red);
}