{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="homepage">
  <section class="homepage-phone-card">
    
    <div class="homepage-content">
      <div class="homepage-title-banner">
        <h1>iPRAY 4U</h1>
        
        <p class="homepage-subtitle">
          Keep track of prayer requests and who you're praying for
        </p>
      </div>

      <div class="homepage-image-card">
        <img 
          src="{{ url_for('static', filename='images/phone-with-heart-texts.jpg') }}" 
          alt="Phone with a heart on the screen and text messages alongside it"
          class="homepage-image"
        >

        <div class="homepage-image-caption">
          <a href="http://www.freepik.com">Designed by studiogstock / Freepik</a>
        </div>
      </div>

      <div class="homepage-buttons-banner">
        <button class="btn add-prayer-button add-prayer-button-js">
          Add Prayer Request
        </button>

        <a class="btn view-button" href="{{ url_for('pages.prayer_requests_page') }}">
          View Prayer Requests
        </a>
      </div>
    </div>

  </section>
</main>
<dialog class="modal modal-js add-prayer-request-modal-js"></dialog>
{% endblock %}

{% block scripts %}
  <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}